{{> sub-nav buttons=buttons}}
{{> filter-control}}

<section class="table">
    <div class="marks-table">
        <div class="marks-table-header">
            <div class="header-cell">КИЗ</div>
            <div class="header-cell">GTIN</div>
            <div class="header-cell">Товар</div>
            <div class="header-cell">Дата эмиссии</div>
            <div class="header-cell">Статус</div>
        </div>
        <div class="header-wrapper"></div>
        {{#each marks}}
        <div class="table-row">
            <span class="col-mark">{{mark}}</span>
            <span class="col-gtin">{{gtin}}</span>
            <span class="col-name">{{name}}</span>
            <span class="col-date">{{date}}</span>
            <span class="col-status">{{statusLabel}}</span>
        </div>
        {{/each}}
    </div>
    {{> pagination lastPage=lastPage status=status}}
</section>
<div class="body-wrapper"></div>
